@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  font-family: Nunito;
}

@font-face {
  font-family: Nunito;
  src:
    local("Nunito"),
    url("./Fonts/Nunito-VariableFont_wght.ttf") format("truetype");
}
